%p
- if current_user
	%p
		= "Hello there, #{current_user.name}."
		%br/
		Use the following API key to configure your Smog Printer
	%p
		%b= current_user.api_key

	%p	
		Oh, if you want to Tweet something, just fill in the form below.
			
		%form{:name => "tweet", :action => "/tweet"}
			%input{:type => "text", :name => "message", :class => "text", :size => 65}
			%input{:type => "submit", :value => "Tweet this", :class => "button"}
